@use '../../index.scss' as src;

.eye {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background: white;

  &-sides {
    position: absolute;
    top: 50%;
    left: 50%;

    &-side {
      position: absolute;
      width: 1000px;
      height: 2000px;
      background-image: url('../../assets/images/eye-side.svg');
      background-size: cover;
      &:after {
        content: '';
        width: 100%;
        height: 200%;
        position: absolute;
        bottom: 100%;
        background: src.$red;
      }

      &.top {
        transform: translate(-50%, -100%) scaleY(1);
      }

      &.bottom {
          transform: translate(-50%, 0%) scaleY(-1);
      }
    }
  }

  &-iris, &-pupil {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 620px;
    width: 620px;
    background: src.$blue;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
  }

  &-pupil {
    top: 50%;
    left: 50%;
    background: none;
    overflow: hidden;

    &-inner {
      position: absolute;
      background: black;
      width: 310px;
      height: 310px;
      border-radius: 50%;
    }
  }
}