@use '../../index.scss' as src;

.eye {
  position: absolute;
  aspect-ratio: 1;
  height: 70vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('../../assets/images/eye.svg');
  background-repeat: no-repeat;
  background-size: contain;

  &-iris, &-pupil {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 42vh;
    aspect-ratio: 1;
    background: src.$blue;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
  }

  &-pupil {
    top: 50%;
    left: 50%;
    width: 42vh;
    height: 42vh;
    // outline: 2px solid pink;
    background: none;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    overflow: hidden;

    &-inner {
      position: absolute;
      top: -11vh;
      left: -11vh;
      background: black;
      height: 22vh;
      aspect-ratio: 1;
      border-radius: 50%;
      // transform: translate(-50%, -50%);
      transition: top .5s cubic-bezier(.1, .4, .2, 1), left .5s cubic-bezier(.1, .4, .2, 1);
    }
  }
}