.debug {
  font-family: monospace;
  background: rgba(0, 0, 0, .75);
  width: 440px;
  height: calc(260px - 2rem);
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 660px;
  h1 {
    color: white;
  }
  p {
    margin: 0;

    &.target:after {
      content: ' 🎯';
    }
  }

  h1 {
    font-size: 1.5rem;
  }
}